b'<!
DOCTYPE html>\n\n<html lang="">\n<head>\n
  <link rel="stylesheet" href="/static/css/style.css">\n</head>\n<body>\n
<header class="header">\n        <div class="logo">\n
  <img src="/static/images/done_task.png" alt="Logo">\n        </div>\n
  <nav class="menu">\n            <ul>\n                <li><a href="/accounts/logout">Logout</a></li>\n
    <li><a href="/signup">Sign Up</a></li>\n            </ul>\n        </nav>\n        <div class="nav">\n
    <button class="dropbtn">\n
      <img src="/static/images/person.png" alt="Menu"\n                width="56"\n                height="56">\n            </button>\n        <ul>\n
      <li><a href="/task-list"> My tasks </a></li>\n
      <li><a href="/add-task"> Add task </a></li>\n
      <li><a href="/budget-summary"> Budget summary </a></li>\n
      <li><a href="#"> Completion summary </a></li>\n            <li><a href="#"> Calendar </a></li>\n        </ul>\n        </div>\n
</header>\n\n<script src="/static/js/dropdown.js" defer></script>\n\n
<form action="" method="post">\n  <input type="hidden" name="csrfmiddlewaretoken" value="eD9IWeo7KHiNGIzqZcw9DuOSOo8pgH83QdJ8hUJl0aR7aXd1znXJ4nLSKYNSpEbg">\n
  <p>\n    <label for="id_name">Name:</label>\n    <input type="text" name="name" value="Test Task" maxlength="255" required id="id_name">\n    \n    \n  </p>\n\n
<p>\n    <label for="id_description">Description:</label>\n    <input type="text" name="description" value="This is a test task." id="id_description"> </p>\n\n  \n
  <p>\n    <label for="id_priority">Priority:</label>\n    <select name="priority" required id="id_priority">\n  <option value="">---------</option>\n\n
    <option value="3">Low</option>\n\n  <option value="2">Medium</option>\n\n  <option value="1" selected>High</option>\n\n</select>\n    \n    \n
  </p>\n\n
  <ul class="errorlist"><li>This field is required.</li></ul>\n  <p>\n    <label for="id_category">Category:</label>\n
    <select name="category" required id="id_category">\n  <option value="" selected>---------</option>\n\n  <option value="1">Housing</option>\n\n
      <option value="2">Transportation</option>\n\n  <option value="3">Groceries</option>\n\n  <option value="4">Utilities</option>\n\n
      <option value="5">Clothing</option>\n\n  <option value="6">Healthcare</option>\n\n  <option value="7">Supplies</option>\n\n
      <option value="8">Personal</option>\n\n  <option value="9">Education</option>\n\n  <option value="10">Entertainment</option>\n\n</select>\n    \n    \n  </p>\
  n\n  \n  <p>\n    <label for="id_estimated_cost">Estimated cost:</label>\n
    <input type="number" name="estimated_cost" value="10" step="0.01" id="id_estimated_cost">\n    \n    \n  </p>\n\n  \n
  <p>\n    <label for="id_start_time">Start time:</label>\n
    <input type="datetime-local" name="start_time" value="2023-06-12 12:00" id="id_start_time">\n    \n    \n      \n    \n  </p>\n
  <input type="submit" value="Save">\n</form>\n\n</body>\n\n</html>\n'>